<template name ="createState">
  <div class="container-fluid ">
    <div name="row">
      <h2>WFMS</h2>
      <div class="col-md-6 col-md-offset-3 text-center">
        <!-- <h2>Create State</h2> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 createStateArea">
        <h2> Create State</h2>
        <form class="form-inline new-state" id="createForm">
          <label>State Name:</label>
          <input type="text" id="nameField" name="text" placeholder="Add State Title"/>
          <br>
          <label>Check State Type:</label>
          <fieldset class="form-group">
            <!-- <legend>Radio buttons</legend> -->
            <div class="form-check-inline">
              <label class="form-check-label">
              <input type="radio" id="initialRadio" class="form-check-input" name="optionsRadios" value="initialType" checked>Initial</label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
              <input type="radio" id="normalRadio" class="form-check-input" name="optionsRadios" value="normalType">Normal</label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
              <input type="radio" id="finalRadio" class="form-check-input" name="optionsRadios" value="finalType">Final</label>
            </div>
          </fieldset>
          <br>
          <button type="button" id="createButton" class="btn btn-success" value="create">Create</button>
          <button type="button" id="clearButton" class="btn btn-warning">Clear</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </form>
        <br>
        <button type="button" id="viewButton" class="btn btn-primary">View Workflow</button>
      </div>
    </div>
  </div>
  <button type="button" id="backButton" class="btn btn-primary">Back Home</button>
</template>
