<template name ="createState">
  <div class="container-fluid ">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/logo.png" class="logo">
    </div>
    <div id="logout">
      <a href="#" class="logoutLink">Logout</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 createStateArea">
        <div class ="formContent">
          <div class="col-xs-6 col-xs-offset-3 text-center">
            <h2> Create State</h2>
          </div>
          <br>
        <form class="form-inline new-state" id="createForm">
          <div class="col-xs-6 text-right">
            <label>State Name:</label>
          </div>
          <div class="col-xs-6">
            <input type="text" id="nameField" name="text" placeholder="Add State Title"/>
          </div>
          <br>
          <div class="col-xs-6 text-right">
            <label>State Deadline:</label>
          </div>
          <div class="col-xs-6">
            <fieldset class="form-group">
              <div class='input-group date' id='stateTime'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </fieldset>
          </div>
          <script type="text/javascript">
            $(function () {
              $('#stateTime').datetimepicker();
            });
          </script>
          <br>
          <div class="col-xs-6 text-right">
            <label>Check State Type:</label>
          </div>
          <div class="col-xs-6">
            <fieldset class="form-group">
              <!-- <legend>Radio buttons</legend> -->
                <label class="radio-inline">
                  <input type="radio" id="initialRadio" class="form-check-input" name="optionsRadios" value="initialType" >Initial
                </label>
                  <label class="radio-inline">
                    <input type="radio" id="normalRadio" class="form-check-input" name="optionsRadios" value="normalType" checked>Normal
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="finalRadio" class="form-check-input" name="optionsRadios" value="finalType">Final
                  </label>
              </fieldset>
            </div>
          <br>
          <div class="col-xs-6 col-xs-offset-3 text-right">
            <button type="button" id="createButton" class="btn btn-success" value="create">Create</button>
            <button type="button" id="clearButton" class="btn btn-warning">Clear</button>
            <button type="button" id="cancelButton" class="btn btn-danger">Cancel</button>
          </div>
        </form>
        <br>
        <div class="col-xs-6 col-xs-offset-3 advanceButton">
          <button type="button" id="viewButton" class="btn btn-primary">Create Tasks</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>
