<template name ="createTrans">
  <div class="container-fluid ">
    <div name="row">
      <h2>WFMS</h2>
      <div class="col-md-6 col-md-offset-3 text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 createStateArea">
        <h2>Create Task</h2>
        <form class="form-inline new-state" id="createForm">
          <label>Task Name:</label>
          <input type="text" id="nameField" name="text" placeholder="Add State Title"/>
          <br>
          <label>Time Select:</label>
          <fieldset class="form-group">
            <div class='input-group date' id='transTime'>
              <input type='text' class="form-control" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
          </fieldset>
          <script type="text/javascript">
            $(function () {
              $('#transTime').datetimepicker();
            });
          </script>
          <br>
          <!-- Pull States from DB with type initial & final (seperate) -->
          <label>Start State:</label>
          <div class="form-group startForm">
            <select class="form-control" id="startSelect">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <br>
          <label>End State:</label>
          <div class="form-group">
            <select class="form-control" id="endSelect">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <br>
          <!-- Get time element for task -->
          <button type="button" id="createButton" class="btn btn-success" value="create">Create</button>
          <button type="button" id="clearButton" class="btn btn-warning">Clear</button>
          <button type="button" id="cancelButton" class="btn btn-danger">Cancel</button>
        </form>
        <br>
        <button type="button" id="viewButton" class="btn btn-primary">View Workflow</button>
      </div>
    </div>
  </div>
</template>
