<template name ="selectWorkflow">
  <script>
  function changeWF() {
    console.log("Function Called");
    Meteor.call('loadWorkflow', document.getElementById('wfDrop').value);
    Router.go("/createState");
  }
  </script>
  <div class="container-fluid ">
    <div name="row">
      <h2 class="logo">WFMS</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="selectWFArea">
        <h2>Select A Workflow</h2>
        <!-- <div id ="workflow">
          <label>WF1</label>
        </div> -->
        <button type="button" id="populate" class="btn btn-success">Load</button>
        <button type="button" id="backButton" class="btn btn-danger">Cancel</button>
        <br>
        <div class="form-group statesForm">
          <select class="form-control" id="wfDrop" onchange='changeWF()'>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>
