<template name ="selectWorkflow">
  <script>
  function changeWF() {
    console.log("Function Called");
    Meteor.call('loadWorkflow', document.getElementById('wfDrop').value);
    Router.go("/viewWorkflow");
  }
  </script>
  <script>
  function editWF() {
    console.log("Function Called");
    Meteor.call('loadWorkflow', document.getElementById('wfDrop').value);
    Router.go("/createState");
  }
  </script>
  <div class="container-fluid ">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/logo.png" class="logo">
    </div>
    <div id="logout">
      <a href="#" class="logoutLink">Logout</a>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="selectWFArea">
        <h2>Select A Workflow</h2>
        <!-- <div id ="workflow">
          <label>WF1</label>
        </div> -->
        <button type="button" id="populate" class="btn btn-success">Populate</button>
        <button type="button" id="edit" class="btn btn-warning" onclick="editWF()">Edit</button>
        <button type="button" id="backButton" class="btn btn-danger">Cancel</button>
        <button type="button" id="viewButton" class="btn btn-primary" onclick="changeWF()">View</button>
        <br>
        <div class="form-group statesForm">
          <select class="form-control" id="wfDrop">
          </select>
        </div>
      </div>
    </div>
  </div>
</template>
