<template name ="selectWorkflow">
  <div class="container-fluid ">
    <div name="row">
      <h2>WFMS</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="selectWFArea">
        <h2>Select A Workflow</h2>
        <!-- <div id ="workflow">
          <label>WF1</label>
        </div> -->
      </div>
    </div>
  </div>
  <button type="button" id="populate" class="btn btn-primary">Load</button>
  <button type="button" id="backButton" class="btn btn-primary">Back Home</button>
</template>
