<template name ="createWorkflow">
  <div class="container-fluid ">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/logo.png" class="logo">
    </div>
    <div id="logout">
      <a href="#" class="logoutLink">Logout</a>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 createStateArea">
        <div class="formContent">
        <h2>Create Workflow</h2>
        <form class="form-inline new-state" id="createForm">
          <label>Workflow Name:</label>
          <input type="text" id="nameField" name="text" placeholder="Add Workflow Title"/>
          <br>
          <br>
          <button type="button" id="createButton" class="btn btn-success" value="create">Create</button>
          <button type="button" id="clearButton" class="btn btn-warning">Clear</button>
          <button type="button" id="cancelButton" class="btn btn-danger">Cancel</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</template>
