<template name="viewWorkflow">
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/logo.png" class="logo">
    </div>
    <div id="logout">
      <a href="#" class="logoutLink">Logout</a>
    </div>
    <div class="row">
      <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">Delete Workflow</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form" id="deleteForm">
                <div class="form-group">
                  <label class="col-md-6 col-md-offset-3 text-center" for="deleteField">Workflow Name:</label>
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <input type="value" class="form-control text-center" id="deleteField" placeholder="Workflow Name"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="button" id="confirmDelete" class="btn btn-danger text-center">Confirm Delete</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only" id="close">Close</span>
              </button>
              <h4 class="modal-title text-center" id="myModalLabel">Edit Name</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" id="deleteForm">
              <div class="form-group">
                <label class="col-md-6 col-md-offset-3 text-center" for="stateNameField">Name:</label>
                <div class="col-md-6 col-md-offset-3 text-center" id="editStateInput">
                  <!-- <input type="text" class="form-control text-center" id="stateNameField" placeholder="State Name"/> -->
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <button type="button" id="changeButton" class="btn btn-primary text-center">Confirm Change</button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editWFModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only" id="close">Close</span>
            </button>
            <h4 class="modal-title text-center" id="myModalLabel">Edit Name</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form" id="deleteForm">
            <div class="form-group">
              <label class="col-md-6 col-md-offset-3 text-center" for="stateNameField">Name:</label>
              <div class="col-md-6 col-md-offset-3 text-center" id="editWFInput">
                <!-- <input type="text" class="form-control text-center" id="stateNameField" placeholder="State Name"/> -->
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3 text-center">
                <button type="button" id="changeWFButton" class="btn btn-primary text-center">Confirm Change</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="continueWFModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only" id="close">Close</span>
          </button>
          <h4 class="modal-title text-center" id="myModalLabel">Choose Task</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" id="deleteForm">
          <div class="form-group">
            <label class="col-md-6 col-md-offset-3 text-center" for="stateNameField">Task:</label>
            <div class="form-group statesForm">
              <select class="form-control" id="taskDrop">
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3 text-center">
              <button type="button" id="continueWFButton" class="btn btn-primary text-center">Confirm Task</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
</div>
      <div class ="col-md-6 col-md-offset-3 text-center" id ="title"></div>
        <br>
        <div class="col-md-6 col-md-offset-3" id="viewWFArea">
          <div id="mynetwork"></div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center">
      <button type="button" id="taskButton" class="btn btn-success" data-toggle="modal" data-target="#continueWFModal" value="modal">Advance</button>
      <!-- <button type="button" id="editButton" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit Workflow</button> -->
      <button type="button" id="loadButton" class="btn btn-warning" value="create">Refresh</button>
      <button type="button" id="addUserButton" class="btn btn-primary" value="addUser">Add Users</button>
      <button type="button" id="deleteButton" class="btn btn-danger" data-toggle="modal" data-target="#myModalHorizontal">Delete Workflow</button>
    </div>
  </div>
</template>
