<template name="createAccount">
  <div class="container-fluid ">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/logo.png" class="logo">
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3 loginArea">
      <h2 class="text-center">Create Account</h2>
      <form class="form-inline new-state text-right accountForm">
        <label>Name:</label>
        <input class="createAccountField" id="name" type="text" name="nameField" placeholder="Name">
        <br>
        <label>Email:</label>
        <input class="createAccountField" id="email" type="email" name="signupEmail" placeholder="Email">
        <br>
        <label>Password:</label>
        <input class="createAccountField" id ="password" type="password" name="signupPassword" placeholder="Password">
        <br>
        <div class="buttons">
          <input class="btn btn-success" type="submit" id="createButton" value="Signup">
          <button type="button" id="cancelButton" class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>
