<template name="dashboardPage">
  <div class="container-fluid ">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="/images/logo.png" class="logo">
    </div>
    <div id="logout">
      <a href="#" class="logoutLink">Logout</a>
    </div>

  </div>
    <div class="container-fluid dashButtons">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="module createWorkflowArea">
            <h1>Create Workflow</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="module selectWorkflowArea">
            <h1>Select Workflow</h1>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="module profileArea">
            <h1>Profile</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="module notificationsArea">
            <h1>Notifications</h1>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="module monitorWorkflowArea">
            <h1>Monitor Workflow</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="module alterSettingsArea">
            <h1>Account Settings</h1>
          </div>
        </div>
      </div>
    </div>
</template>
