<template name="dashboardPage">
  <div class="container-fluid ">
    <div name="row">
      <h2>WFMS</h2>
      <div class="col-md-6 col-md-offset-3 text-center">
        <!-- <h2>Create State</h2> -->
      </div>
    </div>
  </div>
  <button type="button" id="createStateButton" class="btn btn-primary">Create State</button>
  <button type="button" id="createTransButton" class="btn btn-primary">Create Transition</button>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Workflow
      <span class="caret"></span></button>
      <ul class="dropdown-menu" id="workflowList">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="module createWorkflowArea">
          <h1>Create Workflow</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="module viewWorkflowArea">
          <h1>View Workflow</h1>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="module profileArea">
          <h1>Profile</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="module notificationsArea">
          <h1>Notifications</h1>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="module monitorWorkflowArea">
          <h1>Monitor Workflow</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="module alterSettingsArea">
          <h1>Account Settings</h1>
        </div>
      </div>
    </div>
  </div>
</template>
